{
  "plugins": [
    "prettier-plugin-astro"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "wrangler.jsonc",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
